:root {
    --bs-dropdown-link-hover-bg: black;
    --bs-nav-link-font-size: 1.2rem;
    --bs-light-rgb: 245, 245, 250;
}

.nav {
    font-size: 1.5rem;
}
.nav-link {
    white-space: nowrap;
}

.container {
    margin: 0 auto;
}
.container label {
    font-size: 1.5rem;
}


.form-group label {
    font-size: 2rem;
    margin-bottom: 0.3rem;
    font-weight: lighter;
}
.form-group .btn {
    padding: 5px 20px;
    font-size: 1.5rem;
    border-radius: 2rem;
}

input[type="text"] {
    border-radius: 0.5rem;
}

input[type="search"] {
    border-radius: 1rem;
    max-width: 500px;
}

.ref-btn {
    padding: 30px;
}

.btn.big {
    border-radius: 3rem;
    margin: 0 3rem;
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
}

.btn {
    border-radius: 1rem;
}

.display-1 {
    padding-bottom: 5rem
}

.row div{
    padding: 10px;
}

.form-check-input {
    width: 2rem;
    height: 2rem;
}
