<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">-->
    <!--    <link href="../../resources/css/style.css" rel="stylesheet">-->
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet">
    <title>Home unauthorized</title>
</head>
<body>

<div class="container justify-content-center header position-absolute top-50 start-50 translate-middle">
    <div class="row">
        <h1 class="text-center display-1">Weather App</h1>
    </div>
    <div class="row btn-row">
        <div class="ref-btn d-flex justify-content-center">
            <a href="#SIGNUP" class="btn btn-primary big" role="button">Sign up</a>
            <a href="#SIGNIN" class="btn btn-outline-secondary big" role="button">Sign in</a>
        </div>
    </div>
</div>

<!--<script src="../../resources/js/bootstrap.bundle.min.js"></script>-->
<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
