<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/common/head :: head ('Home unauthorized')}"></head>

<body>

<div class="container justify-content-center header position-absolute top-50 start-50 translate-middle">
    <div class="row">
        <h1 class="text-center display-1">Weather App</h1>
    </div>
    <div class="row btn-row">
        <div class="ref-btn d-flex justify-content-center">
            <a th:href="@{/login}" class="btn btn-outline-secondary big" role="button">Log in</a>
            <a th:href="@{/register}" class="btn btn-primary big" role="button">Register</a>
        </div>
    </div>
</div>

<!--<script src="../../resources/js/bootstrap.bundle.min.js"></script>-->
<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
