<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">-->
    <!--    <link href="../../resources/css/style.css" rel="stylesheet">-->
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet">
    <title>Registration</title>
</head>
<body>

<div class="container">
    <div class="row">
        <h1 class="text-center display-3">Complete the form</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 col-sm-7 col-md-6 col-lg-6 col-xl-5 col-xxl-4">
            <form th:action="@{/registration}" method="post">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input class="form-control" type="text" name="login" id="login" required
                           placeholder="Enter your login"
                           pattern="[a-zA-Z0-9_]{4,}">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" id="password" required
                           placeholder="Enter your password">
                </div>
                <div class="form-group">
                    <label for="pass-repeat">Repeat password</label>
                    <input class="form-control" type="password" name="pass-repeat" id="pass-repeat" required
                           placeholder="Repeat password">
                </div>
                <div class="form-group d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--<script src="../../resources/js/bootstrap.bundle.min.js"></script>-->
<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
