<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/common/head :: head ('Registration')}"></head>

<body>

<div class="container">
    <div th:if="${error != null}" class="row">
        <h1 class="text-center display-3" th:text="${error}">Error text</h1>
    </div>
    <div class="row">
        <h1 class="text-center display-3">Registration</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 col-sm-7 col-md-6 col-lg-6 col-xl-5 col-xxl-4">
            <!--TODO: extract form to fragment-->
            <form th:action="@{/register}" method="post">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input class="form-control" type="text" name="login" id="login" required
                           placeholder="Enter your login"
                           pattern="[a-zA-Z0-9@_.]{4,}"
                           title="Allowed letters, numbers and symbols @_., minimum 4 characters.">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" id="password" required
                           placeholder="Enter your password"
                           pattern="[a-zA-Z0-9@_.!#$%^&*]{8,}"
                           title="Allowed letters, numbers and symbols @_.!#$%^&*, minimum 8 characters.">
                </div>
                <div class="form-group">
                    <label for="pass-repeat">Repeat password</label>
                    <input class="form-control" type="password" name="pass-repeat" id="pass-repeat" required
                           placeholder="Repeat password"
                           pattern="[a-zA-Z0-9@_.!#$%^&*]{8,}"
                           title="Allowed letters, numbers and symbols @_.!#$%^&*, minimum 8 characters.">
                </div>
                <div class="form-group d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--<script src="../../resources/js/bootstrap.bundle.min.js"></script>-->
<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
