<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/common/head :: head ('Registration')}"></head>

<body>

<div class="container">
    <div class="row">
        <h1 class="text-center display-3">Registration</h1>
    </div>
    <div th:if="${error != null}" class="row">
        <h2 class="text-center display-3" th:text="${error}">Error text</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 col-sm-7 col-md-6 col-lg-6 col-xl-5 col-xxl-4">
            <div th:replace="~{/common/auth-form :: auth-form (true, 'register')}"></div>
        </div>
    </div>
    <div class="row">
        <span>Already have an account? <a th:href="@{/login}">Log in</a></span>
    </div>
</div>


<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
