<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../resources/css/style.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>

<div class="container col-8 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 header">
    <div class="row">
        <h1 class="text-center">Complete form</h1>
    </div>
    <div class="row register-form">
        <form action="#URL" method="post">
            <div class="form-group">
                <label for="login">Login</label>
                <input class="form-control" type="text" id="login" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="text" id="password" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
        </form>
    </div>
</div>

<script src="../resources/js/bootstrap.min.js"></script>
</body>
</html>
