<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<!-- extract location to th:object-->
<div th:fragment="card (hasDelBtn, hasSelectBtn)" class="card h-100" th:with="appContext=@{/}">
    <div class="card-body">
        <h5 class="card-title mb-4 d-flex justify-content-between">
            <span th:text="${location.cityName} + ', ' + ${location.sys.country}">Location name</span>
            <a th:if="${hasDelBtn}" class="btn-close d-inline" role="button"
               th:data-ctx="${appContext}" th:data-loc-id="${location.locationId}"
               onclick="deleteLocation(this)"></a>

        </h5>

        <p><i class="fas fa-thermometer-half"></i>
            Temperature: <span class="temperature" th:text="${location.main.temp}"></span> &degC
        </p>
        <p><i class="fas fa-temperature-low"></i>
            Feels Like: <span class="feelsLike" th:text="${location.main.feelsLike}"></span> &degC
        </p>
        <p><i class="fas fa-tachometer-alt"></i>
            Pressure: <span th:text="${location.main.pressure}"></span> hPa
        </p>
        <p><i class="fas fa-tint"></i>
            Humidity: <span th:text="${location.main.humidity}"></span> %
        </p>
        <p><i class="fas fa-wind"></i>
            Wind Speed: <span th:text="${location.wind.speed}"></span> m/s
        </p>

        <form th:if="${hasSelectBtn}" th:action="@{/search-results}" th:method="post">
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Select</button>
                <input type="hidden" name="selected-loc-name" th:value="${location.cityName}">
                <input type="hidden" name="selected-loc-lat" th:value="${location.coord.lat}">
                <input type="hidden" name="selected-loc-lon" th:value="${location.coord.lon}">
            </div>
        </form>
    </div>
</div>

<script th:src="@{/resources/js/deleteLocation.js}"></script>
</body>
</html>