<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<nav th:fragment="navbar" class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">
                        <i class="fas fa-home"></i> Home</a>
                </li>
            </ul>
            <div class="container-fluid">
                <!-- TODO: add url-encoding -->
                <form th:action="@{/search-results}" th:method="get" class="d-flex justify-content-center">
                    <input class="form-control me-2" type="search" name="location-name" required
                           placeholder="Search for locations"
                           aria-label="Search"
                           pattern="\S+"
                           title="Location name should contain at least 1 character">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
            <div class="dropdown navbar-nav">
                <a class="dropdown-toggle nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <i class="fas fa-user-circle"></i> <span th:text="${user.login}"></span></a>
                <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/logout(login=${user.login})}">
                        <i class="fas fa-sign-out-alt"></i>Log out</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>

</body>
</html>